@model LibraryAdmin2.Models.CheckoutRequest

@{
    ViewBag.Title = "Review Checkout Request";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryajax")
<h4>Review Checkout Request</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

<div>
    @using (@Html.BeginForm("Approve", "Admin", FormMethod.Post, new { id = "Approve" }))
    {
        if (ViewBag.Borrower != null)
        {
            <div class="form-group">
                @Html.Hidden("BorrowerId", (int)ViewBag.Borrower.Id)
                @Html.Label("Borrower", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p id="BorrowerName">@ViewBag.Borrower.Name</p>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.Hidden("BorrowerId")
                @Html.Label("Borrower", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p id="BorrowerName"></p>
                </div>
            </div>
        }

        <div class="form-group">
            @Html.Label("Policy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PolicyId", String.Empty)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Approve Checkout Request" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<h4>Search for a different borrower</h4>
<div>
    @using (@Ajax.BeginForm("Search", "Search", new { Partial = true, SearchType = "Borrower" },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "searchResults",
                            InsertionMode = InsertionMode.Replace
                        },
                        new { id = "userSearch" }))
    {
        @Html.Hidden("ListAction", " ")
        @Html.Hidden("ListLabel", "Select")
        @Html.Hidden("ListLabelClass", "selectBorrower")
        @Html.Hidden("partial", true)

        <div class="form-group">
            @Html.Label("FirstName", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("FirstName")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("LastName", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("LastName")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search for Borrower" form="userSearch" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<div id="searchResults">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<script>
    $(document).on("click", ".selectBorrower",
        function (e) {
            e.preventDefault();
            id = $(this).closest("tr").find(".id").text();
            name = $(this).closest("tr").find(".name").text().trim();
            $("#BorrowerId").val(id);
            $("#BorrowerName").text(name);
        });
</script>