@model LibraryAdmin2.ViewModels.SearchViewModel

<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Search</h2>
<div id="searchForm">
    @using (Ajax.BeginForm("Search",
                            "Search",
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "searchResults"
                            }))
    {
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.Partial)
            @Html.HiddenFor(m => m.ListLabel)
                        @Html.HiddenFor(m => m.ListLabelClass)
                        <div class="form-group">
                            @Html.Label("Search for", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">                                @Html.DropDownList("SearchType", "(make selection)")
                            </div>
                        </div>
            <div class="form-group">
                @Html.Label("First Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.FirstName)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Last Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.LastName)
                </div>
            </div><div class="form-group">
                @Html.Label("Title", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Title)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("ISBN", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Isbn)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div id="searchResults">
</div>








