@model LibraryAdmin2.Models.Book

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableCopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableCopies)
        </dd>

    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.Hidden("Id", Model.Id)
    <div class="form-group">
        @Html.Label("Your First Name", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("FirstName")
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Your Last Name", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("LastName")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send Request" class="btn btn-default" />
        </div>
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
