@model LibraryAdmin2.Models.Policy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Policy</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Penalty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Penalty)
        </dd>

    </dl>
</div>
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        |
        @Html.ActionLink("Back to List", "Index")
    </p>

    @Html.Action("Relevant", "LogEvent", new { RecordType = "Policy", id = Model.Id });
}
