@model LibraryAdmin2.Models.Book

@if (Model != null)
{
    <div>
        <h4>Most Borrowed Book</h4>
        <hr />
        <div>
                <img src="@Model.ImageUrl" class="picture" style="float:left; margin: 10px" />
            <p><strong>@Html.ActionLink(@Model.Title, "Details", "Book", new { id = Model.Id }, null)</strong></p>
            <p>
                By

                @foreach (var author in Model.Authors)
                {
                    @:&middot; @Html.ActionLink(author.Name, "Details", "Author", new { id = author.Id }, null)
            }
            </p>
            <p>@Model.ShortDescription</p>

            <em>@ViewBag.Num times borrowed</em>
        </div>
    </div>
}